/* Color Palette: #105bd8 #dd361c #f4e6e8*/
@import url("https://fonts.googleapis.com/css2?family=Maitree:wght@300;700&display=swap");

/* Resets styles */
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,q {
  quotes: none;
}

blockquote:before,blockquote:after,
q:before,q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Styles start here */

/* Global styles */

body {
  font-family: "Maitree", serif;
  font-size: 20px;
  background: url("./../src/assets/background-home-desktop.jpg");
  background-size: cover;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  line-height: 1;
  margin: 0;
  color: #f4e6e8;
}

.wrapper {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

.locations button, .headerBtn, .toursContainer button{
  cursor: pointer;
  font-family: inherit;
  border: none;
  border-radius: 10px;
  background-color: #105bd8;
  color: #f4e6e8;
  padding: 10px 10px;
  transition: all .2s ease-in;
}

.toursContainer button:hover,
.locations button:hover, .headerBtn:hover {
  background-color: #f4e6e8;
  color: #105bd8;
}

/* Navigation styles */

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 0;
  width: 100%;
  z-index: 100;
  position: fixed;
  left: 50%;
  width: 90%;
  transform: translateX(-50%);
}

.logo {
  position: relative;
  width: 1000px;
}

.logo::after {
  content: "";
  background-color: #f4e6e8;
  height: 1px;
  width: 80%;
  opacity: .7;
  position: absolute;
  top: 50%;
  left: 120px;
}

.hamburgerIcon {
  display: none;
}

.navigation ul {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 20px;
  font-weight: 300;
}

.navigation ul::after {
  content: "";
  width: 100%;
  height: 100px;
  background-color: #f4e6e8;
  opacity: .2;
  position: absolute;
  left: 50%;
  z-index: -10;
}

.navigation p {
  font-weight: 300;
  font-size: 1.35rem;
  white-space: nowrap;
}

.navigation span {
  font-weight: 700;
  padding: 10px;
  font-size: 1rem;
}

.navigation a {
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  padding-bottom: 30px;
  transition: border-bottom .2s ease-in;
}

.navigation a:hover {
  border-bottom: 3px solid;
}

.mobileMenu {
  display: none;
}

.navigationOverlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .8;
  background-color: #000;
  z-index: 10;
}

.Hero, .about {
  color: #f4e6e8;
}

.paddingTop {
  padding-top: 200px;
}

@media (min-width: 1700px) {
  .logo::after {
    display: none;
  }
}

@media (max-width: 1300px) {
  .logo::after {
    width: 70%;
  }

  .navigation ul {
    flex-wrap: wrap;
  }

  .navigation a {
    transition: border-top .2s ease-in;
  }

  .navigation a:hover {
    border-top: 3px solid;
    padding-top: 5px;
    border-bottom: none;
  }
}

@media (max-width:800px){
  .aboutContainer{
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .navigation{
    padding: 20px 0;
    /* font-size: 20px; */
    z-index: 100;
    position: fixed;
    left: 50%;
    width: 90%;
  }
  
  .logo::after,
  .navigation ul::after,
  .navigation ul
  {
    display: none;
  }

  .hamburgerIcon{
    display: block;
    cursor: pointer;
  }

  .hide{
    display: none;
  }

  .mobileMenu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: -10;
    padding-top: 300px;
  }

  .mobileMenu div {
    padding-top: 30px;
  }

  .show{
    display: block;
  }

  .navigation a:hover {
     border: none;
  }

  .tourCount{
    display: block;
  }

  .tourCount p {
    font-size: 18px;
  }
}

/* Home Styles */

.Hero h1 {
  font-size: 5rem;
  font-weight: 700;
}

.Hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Hero img {
  border: 1px #f4e6e8 solid;
  padding: 0 10px;
  border-radius: 50%;
}

.about{
  font-size: 1.35rem;
  line-height: 1.5;
  letter-spacing: 2px;
  width: 50%;
}

.aboutContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


@media (max-width: 800px) {
  .Hero {
    flex-direction: column;
    text-align: center;
  }

  .Hero h1 {
    margin-bottom: 50px;
  }
}

@media (max-width: 400px) {
  .Hero img {
    width: 290px;
  }

  .Hero h1 {
    font-size: 4rem;
  }
}

/* Tours styles */

.tours {
  color: #f4e6e8;
  font-weight: 700;
}

.tours h2 {
  margin-bottom: 100px;
  font-size: 1.7rem;
}

.tours h3 {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 30px;
}

.tours li {
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px 0;
  border-bottom: 1px solid transparent;
  transition: border-bottom .2s ease-in;
}

.tours li:hover {
  border-bottom: 1px solid #f4e6e8;
}

.toursContainer {
  display: flex;
  gap: 50px;
  width: 50%;
  height: 700px;
  font-weight: 300;
  position: relative;
}

.toursLayout {
  position: relative;
  left: 50%;
}

.toursImage {
  position: absolute;
  left: -100%;
  top: -50px;
  height: 400px;
  z-index: -10;
  opacity: .5;
}

.toursLocations {
  display: flex;
  margin-bottom: 50px;
  gap: 30px;
}

.toursDescription {
  position: absolute;
  left: 0;
  line-height: 1.5;
  height: 150px;
  padding-bottom: 200px;
  border-bottom: 1px solid #f4e6e8;
}

.toursContainer button {
  position: absolute;
  right: 0;
  top: 350px;
}

.tourCount{
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  display:none;
}

@media (max-width:900px){
  .tours {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
  }

  .toursLayout {
    left: 0;
  }

  .toursImage {
    left: 0;
    opacity: .2;
    height: 300px;
  }

  .toursDescription {
    position: absolute;
    line-height: 1.2;
    min-width: 400px;
    padding-bottom: 100px;
    border-bottom: none;
    font-size: 1.1rem;
  }

  .toursContainer {
    height: 500px;
  }

  .toursContainer button {
    left: 0;
    top: 250px;
  }
}

@media (max-width:800px){
  .tourCount{
    display: block;
  }

  .tourCount p {
    font-size: 18px;
  }
}

@media (max-width: 600px){
  .tours {
    padding-left: 0;
  }
}

@media (max-width: 430px) {
  .toursContainer {
    height: 400px;
    gap: 10px;
  }

  .toursLocations li {
    font-size: 1rem;
    font-weight: 700;
  }

  .tours h2 {
    display: none;
  }

  .toursDescription {
    min-width: 290px;
    padding-bottom: 20px;
    border-bottom: none;
    font-size: 0.95rem;
  }

  .tours li {
    cursor: pointer;
    text-transform: uppercase;
    padding: 10px 0;
    border-bottom: 1px solid transparent;
    transition: border-bottom .2s ease-in;
  }
}

/* Locations Styles */
.locations {
  display: flex;
  flex-direction: column;
  color: #f4e6e8;
  font-weight: 700;
  font-size: 2.1rem;
  text-align: center;
}

.locations img {
  width: 600px;
  padding: 25px 0;
  margin: 0 auto;
}

.locations h2 {
  margin-bottom: 50px;
  padding: 10px 25px;
}

.locations button, .headerBtn{
  width: 20%;
  font-size: 1.2rem;
  margin: 40px auto 100px;
}

.headerBtn{
  width: fit-content;
}

.locations button:disabled {
  width: 20%;
  font-size: 1.2rem;
  margin: 40px auto 100px;
  cursor: pointer;
  font-family: inherit;
  border: none;
  border-radius: 10px;
  background-color: darkgrey;
  color: #dd361c;
  padding: 10px 10px;
  transition: all .2s ease-in;
}

.container p{
  font-size: 1.5rem;
  visibility: hidden;
}
.container:hover p{
  visibility: visible;
}
.locations img:hover p.hidden {
  visibility: visible;
}

@media(max-width: 900px) {
  .locations h2 {
    margin: 25px 0;
  }
}

@media (max-width: 690px) {
  .locations img {
    width: 400px;
  }

  .container p {
    font-size: 1.7rem;
  }

  .locations button,
  .locations button:disabled {
    width: 30%;
  }
}

@media (max-width: 450px) {
  .locations img {
    width: 280px;
  }

  .container p {
    font-size: 1.4rem;
  }

  .locations button,
  .locations button:disabled {
    width: 40%;
  }
}

/* ErrorPage styles */

.errorPageContainer {
  display: block;
  font-weight: 700;
  color: #dd361c;
  border-radius: 20px;
  text-align: center;
  padding: 300px 0;
}

.errorPageContainer h2 {
  font-size: 3rem;
  padding: 20px 0;
}

.errorPageContainer p {
  padding: 10px 0;
  font-size: 1.5rem;
  font-weight: 300;
}

.errorPageContainer img {
  padding-top: 40px;
  animation: floating 8s ease-in-out infinite;
}

@media (max-width: 400px){
  .errorPageContainer h2 {
    font-size: 2.2rem;
  }

  .errorPageContainer p {
    font-size: 1.2rem;
  }
}

@keyframes floating {
  0% {
    transform: translateX(-40%);
  }

  50% {
    transform: translateX(40%);
  }

  100% {
    transform: translateX(-40%);
  }
}

/* Dates styles */
.header {
  background-color: transparent;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
}

.headerContainer {
  width: 100%;
  max-width: 1040px;
  margin: 20px 0px 100px;
}

.headerContainer.listMode {
  margin: 20px 0px 0px;
}

.headerList {
  display: flex;
  gap: 40%;
  margin-bottom: 50px;
}

.headerListItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerListItem.active {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}

.headerDescription {
  margin: 20px 0;
}

.headerDescription span {
  font-weight: 700;
}

.headerSearch {
  height: 30px;
  background-color: transparent;
  border: 3px solid #dd361c;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;
  border-radius: 5px;
  position: absolute;
  bottom: -20px;
  width: 100%;
  max-width: 1040px;
}

.headerIcon {
  color: lightgray;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerSearchInput {
  border: none;
  outline: none;
  background-color: transparent;
  color: white;

}

.headerSearchText {
  color: lightgray;
  cursor: pointer;
}

.date {
  position: absolute;
  top: 50px;
}

.options {
  position: absolute;
  top: 50px;
  background-color: white;
  color: grey;
  border-radius: 5px;
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: black;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  background-color: white;
  color: darkblue;
}