/* Color Palette: #105bd8 #dd361c #f4e6e8*/

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

body {
  font-family: 'Maitree', serif;
  line-height: 1.5;
  color: #105bd8;
  background-color: #f4e6e8;
}

h1 {
  font-family: 'Maitree', serif;
  font-weight: 700;
}